body{
    width: 80%; margin: 0 auto; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
/* body rap작업, 실무에서는 X */
h1{
    margin: 0; font-size: 30px; font-weight: normal; color: gray; padding: 15px 50% 15px 0;
    position: relative
}
h1 a{
    position: absolute; right: 0; bottom: 0; font-size: 24px; width: 50%; text-align: right;
    color: forestgreen;
}
/* 
>>h1 padding : 50%, h1 a width : 50% 준 이유)
position으로 띄우고 화면이 작아졌을 때 겹치는 부분도 생각해야함 
*/
fieldset{
    padding: 10px 40% 10px 0; position: relative; border-width: 2px 0 1px; border-style: solid none;
    border-color: darkgreen; 
}
fieldset input[type='search']{
    width: 20%; border: 1px solid forestgreen; background-color: palegreen; line-height: 24px; 
    min-width: 115px; 
}
/* min-width : 일정 이상으로 줄어들지않게 막는 것  */
fieldset input[type='submit']{
    width: 10%; min-width: 60px; background-color: darkolivegreen; color: white;
    border: 2px solid limegreen; line-height: 24px;
}fieldset select{
    position: absolute; right: 0; width: 24%; min-width: 150px; background-color: lightseagreen;
    padding: 5px 0; border-color: lightskyblue; max-width: 250px;
}
/* max-width : 일정 이상으로 늘어나지않게 막는 것 
min--width, max-width 같이쓰는 건 특이한 상황임 보통은 한개만 씀
*/
/* 
select 태그는 옵션을 기준으로 잡는 애라서 line-height가 안먹음 무조건 padding을 줘야함 
*/
h2{
   padding: 30px 0; margin:0; color: #555;
}
h2 strong{
    color: seagreen;
}
h2 strong:not(:nth-of-type(2)){
    text-transform: capitalize;
}
h2 strong:nth-of-type(2){
    text-transform: uppercase;
}
ul{
    margin: 0 0 30px; padding: 0; list-style: none;
}
ul li:first-child{
    border-width: 3px 0 1px; border-style: solid none; border-color: darkgreen; padding: 10px 0; 
}
ul li:not(:first-child){
    border-bottom: 1px solid mediumpurple; position: relative;
}
ul li:nth-child(2n){
    background-color: #cacaca; 
}
ul li:after{
    content: ''; display: block; clear: both;
}
ul li span{
    display: block; float: left; padding: 10px 2.5%; word-break: break-all;
}
/* span 한개당 5프로 너비를 갖게됨 */
/*
philadelphia 단어가 한 단어이기 때문에 다른 단어와 겹치는 현상 해결)
word-break: break-all; << 한자한자 끊겨서 나오는 것
keep-all;은 무조건 한 자로 나오라는 것 
normal이 default값
*/
ul li span:not(:nth-child(2)){
    width: 15%;
}
/* 이미 위에서 적용된 5프로 너비까지 포함해서 계산해야됨 */
ul li span:nth-child(2){
    width: 35%;
}
ul li mark{
    position: absolute; right: 0; top: 0; padding: 3px; font-size: 9px;
    background-color: rgba(127, 255, 0, 0.5);
}
/* 
영문 font-size 최소 수치 9px, 한글 font-size는 11px 
가장 좋은 최소 수치는 10px, 12px임
*/
div:first-of-type{
    max-width: 400px; margin: 0 auto; position: relative; line-height: 30px;
}
div:first-of-type a{
    text-decoration: none; font-size: 14px; padding: 5px; display: block;
}
div:first-of-type > a{
    position: absolute; top: 0;
}
div:first-of-type > a:first-of-type{
    left: 0;
}
div:first-of-type > a:last-of-type{
    right: 0;
}
div:first-of-type ol{
    padding: 0 25px; margin: 0; text-align: center;
}
div:first-of-type li{
   display: inline-block;
}
div:first-of-type ol li a:hover{
    color: red;
}