*{
    margin: 0; padding: 0;
}
ul:after{
    content: ''; display: block; clear: both;
}
ul li{
    float: left; width: 16.66%; border: 1px solid black; 
    display: block; box-sizing: border-box;
}
/* li는 list item 속성을 갖고 태어나기때문에 점을 찍는 것이기 때문에
display : block만 지정해줘도 점이 사라짐  */

ul li figure img{
    width: 100%; display: block;
}
/* 원래 inline이였던 태그한테 display : blcok을 줘도 자동으로 width 100% 안잡힘 */
ul li figure figcaption dl{
    text-align: center; background-color:yellow; 
}
