/*
<Todo. floatLayout> 
1. float 떨어지지 않아야함
2. position 이용해서 검색란 정확한 위치에 두기
*/
body{
    margin: 0 auto; width: 960px;
}
header{
    background-color: #6ff; position:relative;
}
header h1{
    font-size: 16px; width: 250px; background-color: slateblue; color: white;  
    text-align: center; margin: 0 auto; line-height: 40px;
}
header div{
    position: absolute; right: 0; top: 25px;
/*
<top좌표 25px 준 이유> 
input 검사시 나오는 높이합 : 30px / 절반 15px
h1에 준 line-height : 40px - input 절반 높이 15px = 25px 하면 가운데 위치함 
*/
}
header div:after{
    content: ''; display: block; clear: both;
}
header div input{
    display: block; float: left; box-sizing: border-box;
    font-size: 14px; border: 1px solid darkgreen;
/* block 제외 나머지 요소들은 float 쓰고싶으면 display block으로 바꾸면됨 */
    line-height: 26px;
}
header div input[type='submit']{
    width: 20%; 
    /* padding: 6px 0; */ 
}
header div input#searchBar{
    width: 80%;  background-color: rgb(255, 172, 216);
    /* padding: 7px 0; */
}
header nav{
    background-color: #3cf;
}
header nav ul{
    margin: 0; padding: 0; text-align: center;
}
header nav ul li{
    display: inline-block;
}
header nav ul li.marginLeft{
    margin-left: 40px;
}
header nav ul li a{
    display: block; line-height: 40px; text-decoration: none; color: black; 
}
header nav ul li a:hover{
    color: white;
}
.wrap img{
    margin-bottom: 30px;
}
.wrap div{
    float: left; width: 310px; border: 1px solid black;
    box-sizing: border-box;
}
.wrap div h3{
    margin: 0 0 20px;
}
.wrap div.latest2,
.wrap div.latest3{
    margin-left: 15px;
}
.wrap div ul{
    margin: 0; padding: 0; list-style: none; 
}
footer{
    float: left; width: 960px; background-color: rgb(22, 0, 132); color: white; line-height: 40px; text-align: center;
}
