/* 
? transition-duration >> 변환-지속시간 
! presetValue(ex> block -> none, block -> inline-block, relative -> absolute...)는 적용불가.
* 무조건 수치화 되어있는 값만 변경 가능.(영문으로 넣는 모든 값 변환 X)
*/
body{
    margin: 0;
}
.durationEX1{
    width: 100px; height: 100px; background-color: #ff0; transition-duration: 2s;
}
/* 
★ transition은 쓰는 위치가 중요 ★
왕복을 원할 때는 반드시 기본(변경을 원하는 전 상태)에 넣어줘야함 */
.durationEX1:hover{
    width: 200px; height: 200px; 
}
.durationEX1:active{
    background-color: #f00;
}
/* active >> click했을 때 변환되는 것 */
.durationEX2{
    width: 200px; height: 200px; font-size: 16px; background-color: #ff6a00;
    padding: 30px; line-height: 32px; transition-duration: 2s;
}
.durationEX2:hover{
    padding: 10px; font-size: 12px; line-height: 18px; width: 150px; height: 150px;
} 
.durationEX2:active{
    padding: 30px; font-size: 16px;  line-height: 32px; width: 200px; height: 200px; 
}       
.durationEX3{
    position: relative; height: 23px; background-color: #808080; margin-bottom: 50px;
}
.durationEX3 .moveSpan{
    position: absolute; width: 3%; height: 23px; background-color: #000; left: 0;
    transition-duration: 2s;
}
.durationEX3:hover .moveSpan{
    left: 97%;
}
/* 
Todo. durationEX4
1. top(빨),right(주),bottom(노),left(초) border 생성
2. :hover가 되면 box는 중앙으로 움직여야 함.
3. 가운데로 움직였을때 top(초),right(파),bottom(남),left(보) 색상으로 border변경
    textColor 변경
*/
/* ▼ 내가 푼 것 - position으로 처리해도 상관없다고 하심, 선생님은 margin으로 처리하심 */
/* .durationEX4{
    width: 400px; height: 200px; border: 3px solid; background-color: white;
    border-color: #f00 orangered yellow green;  transition-duration: 2s;
    position: relative; left: 0;

}
.durationEX4:hover{
    border-color: greenyellow blue darkblue blueviolet; color: blue;
    position: absolute; left: 40%;
} */
/* ▼ 선생님 해설 */
.durationEX4{
    width:50%; height:300px; transition-duration:2s;
    border-width:3px; border-style:solid; border-color:#f00 #ff6a00 #ffd800 #4cff00; 
}

.durationEX4:hover{
    margin:0 25%; border-color:#00ff90 #0094ff #0026ff #b200ff; color:#0094ff;
}